{% extends 'base.html' %}

{% block meta %}
<title>Bluelock Store</title>
{% endblock meta %}

{% block content %}
<h1>Bluelock Store ⚽</h1>
<p>Selamat datang di toko bola sederhana!</p>

<h2>Daftar Objek</h2>

<a href="{% url 'main:create_product' %}">
    <button>Tambah Objek Baru</button>
</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nama Objek</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>
                <a href="{% url 'main:show_product' product.id %}">
                    <button>Detail</button>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Belum ada produk</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr>
<p>Fathan Alfahrezi</p>
<p>2046496284</p>
<p>PBP E</p>
{% endblock content %}
