{% extends 'base.html' %}

{% block content %}
<h2>{{ product.name }}</h2>
<img src="{{ product.thumbnail }}" alt="{{ product.name }}" width="200">
<p><strong>Price:</strong> Rp {{ product.price }}</p>
<p><strong>Description:</strong> {{ product.description }}</p>
<p><strong>Category:</strong> {{ product.category }}</p>
<p><strong>Featured:</strong> {{ product.is_featured }}</p>
<p><strong>Stock:</strong> {{ product.stock }}</p>
<p><strong>Rating:</strong> {{ product.rating }}</p>

<a href="{% url 'main:show_main' %}">Back to Home</a>
{% endblock %}
